*{
    
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.card{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    grid-gap: 10px;
    color:white;
    margin: 50px;
}

.card-item{
    background: linear-gradient(0deg, #162525, #1d1d1d);
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    padding-bottom: 30px;
    
}

.cabezara{
    background-color:#46979f;
    height: 150px;
    margin-bottom: 75px;
}

img{
     height: 100%;
     width: 100%;
     object-fit: contain;
     padding: 10px;
}

.cont-img{
    height: 125px;
    width: 125px;
    border-radius: 1000px;
    position: absolute ;
    right: calc(45% - 50px);
    top: calc(17% - 65px);
    background: white;
    display: flex;
    overflow: hidden;
}

p, label{
    padding: 3px 10px;
    font-weight: 600;
}

.titulo{
    font-weight: 400;
    max-width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#search-button {
    background-color: #4CAF50;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

#search-bar {
    display: flex;
    align-items: center;
    background-color: #f2f2f2;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 20px;
}

#search-input {
    flex-grow: 1;
    border: none;
    padding: 5px;
    font-size: 1rem;
}

.categoria{
    background-color: #343333bd;
    border-radius: 20px;
    color: #6fca8e;
    font-weight:400;
    margin-left: 15px;
}

.price-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 10px;
}

.price-new {
    text-decoration: line-through;
    color: gray;
}

.price-discount {
    color: green;
    font-weight: bold;
}

.savings {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.savings-amount {
    color: white;
    font-weight: bold;
    font-size: 1.2em;
}

.savings-percent {
    color: gray;
    font-size: 0.8em;
}

#category-filter {
    margin-left: 10px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
  }